body{
	background-color:beige;
}
.car{
	width: 400px;
	font-size: 22px;
	font-family: cursive;
	margin: 0 auto;
	border:1px solid black;
	text-align: left;
	padding-left: 10px;
	line-height: 30px;
	background-color: ghostwhite;
	 
	
	
}
#cars{
	position: relative;
    padding-top: 130px;
	 
	width: 450px;
	left: 35%;
	 
}
.info {
	margin: 0 auto;
	font-size: 22px;
	font-family: cursive;
	position: absolute;
	left: 42%;
	top: 10%;
}
#addCar {
     
	width: 400px;
	margin: 0 auto;
	margin-top: 20px;
	position: relative;
}
.newCar{
	width: 230px;
	margin-right: 5px;
	position: absolute;
	left: 30%;
}
#addNewCar{
	position: absolute;
	
	right: 0;
 
}
#sorting_list {
	position: absolute;
	left: 0;
	height: 21px;
	
	
}
#sorting-list{
	height: auto;
	position: absolute;
	border: 1px solid lightgray;
	background-color:white;
	left: -4px;
	//display: none;
	width: 110px;
	top:20px;  
	display: none;
	 
}
#sort{
	position: absolute;
	left: -1%;
	line-height: 19px;
	width: 110px;
	text-align: center;
	border: 1px solid lightgray;
	background-color: white;
	cursor: pointer;
}
#sorting-list>li{
	list-style-type: none;
 
	position: relative;
	text-align: left;
	 
	padding-left: 5px;
	box-sizing: border-box;
	line-height: 20px;
	width: 110px;
	cursor: pointer;
	transition: all 0.1s ease-out 0.07s;
}
#sorting-list>li:hover{
	background-color: antiquewhite;
	text-decoration: underline;
}