#wrap {
	position: relative;
	border:0px solid red;
	width: 100%;
	margin: 0 auto;
}
.car {
	margin: 0 auto;
	line-height: 30px;
	width: 350px;
	text-align: center;
	border: 1px solid gray;
	text-shadow: 1px 1px black;
	background:linear-gradient(to top, gray,lightgray) ;
	color: white;
}
#addCar {
    border: 0px solid gray;
	width: 300px;
	margin: 0 auto;
	margin-top: 20px;
	position: relative;
}
.newCar{
	width: 230px;
	margin-right: 5px;
	position: absolute;
	left: 6%;
}
#addNewCar{
	position: absolute;
	right: 0;
}
