* {
	margin: 0;
	padding: 0;
}

body {
	background-color: bisque;
	margin: 0 auto;
}

.info {
	border: 0px solid red;
	width: 300px;
	position: absolute;
	left: 40%;
	top: 25%;
	height: 0;
}

.submit {
	width: 30px;
}

.age {
	width: 150px;
}

.name {
	width: 150x;
}

#ageb {
	opacity: 0;
	visibility: hidden;
	
}

.name-user {
	margin-bottom: 10px;
}

#nameb {
	opacity: 1;
	visibility: visible;
	
}

.age-user {
	margin-bottom: 10px;
}

#result {
	opacity: 0;
	height: auto;
	
}
#ageb, #nameb, #result {
	width: 250px;
	height: 150px;
	background: linear-gradient(to top, gray, lightgray);
	text-align: center;
	box-sizing: border-box;
	padding-top: 40px;
	border: 1px solid gray;
	border-radius: 10px;
	font-size: 16px;
	color: aliceblue;
	font-weight: bold;
	text-shadow: 1px 1px black;
	transition: all 1s ease-out 0.5s;
}
.submit::-moz-focus-inner {
    padding: 0;
    border: 0;
}
.inner {
	opacity: 0;
	height: 200px;
	width: 300px;
    margin-top: 30px;
	border: 1px solid grey;
	border-radius: 10px;
	color: aliceblue;
	font-weight: bold;
	text-shadow: 1px 1px black;
	font-size: 16px;
	padding: 25px;
	background: linear-gradient(to top, gray, lightgray);
	position: relative;
	 left: -21%;
	top: 55%;
	transition: all 1s ease-out 0.5s;
}