body {
    background-color: lightgray;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrap {
    position: absolute;
    left: 35%;
    top: 20%;
    width: 400px;
    height: 500px;
    background: linear-gradient(45deg, black, gray);
    border-radius: 25px;
}

.but {
    width: 75px;
    height: 75px;
    background: linear-gradient(-135deg, gray, white);
    font-family: 'Lobster';
    font-size:18px;
    border: 1px solid grey;
      
    
}
.but:hover{
    background: linear-gradient(-135deg,gray, lightgray);
     
}

.keyboard {
    position: relative;
    left: 15%;
    width: 350px;
}

.text {
    width: 300px;
    position: relative;
    height: 20px;
    margin-bottom: 10px;
    font-family: 'Lobster';
    font-size: 18px;
}

.calc {
    position: relative;
    left: 15%;
    font-size: 35px;
    color: aliceblue;
    text-shadow: 1px 1px black;
    font-family: 'Lobster';
}

.dis {
    text-align: right;
}
